<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/styles/styles.css">

  <title>One Good Knight</title>

</head>

<body>

  <header>
    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <a href="/" id="smalltext" class="brand-logo flow-text">One Good Knight</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            {{#if loggedIn}}
            <li>{{msg}}</li>
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <li><a class="modal-trigger" href="#loginmodal">Login</a></li>
            <li><a class="modal-trigger" href="#signupmodal">Sign Up</a></li>
            {{/if}}
          </ul>
        </div>
    </nav>
  </header>


  {{!-- <nav class="nav-extended">
            <div class="nav-wrapper">
              <a href="#" class="brand-logo"></a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li> 
  </ul>
  </div>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">JavaScript</a></li>
  </ul>  --}}

  <main>
    {{!-- Added the body-container as the container class is used for more than just the body. Defining anything to the container class was causing issues in the footer and header. --}}
    <div class="container body-container">
      <div id="loginmodal" class="modal">
        <div class="modal-content">
          {{> login/login-block}}
        </div>
      </div>

      <div id="signupmodal" class="modal">
        <div class="modal-content">
          {{> signup/signup-block}}
        </div>
      </div>

      {{{body}}}
    </div>
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">One Good Knight</h5>
          <p class="grey-text text-lighten-4">a text adventure game by This Is SPR-ta!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/origamiunicorn/this-is-spr-ta"
                target="_blank">GitHub
                Repo</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright © 2020 This Is SPR-ta!
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/login.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>