<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
  </script>

  {{!-- What are these different minified jquerys for? Do we need all of them?--}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <link rel="stylsheet" type="text/css" href="/styles/styles.css">

  <title>One Good Knight</title>

</head>

<body>

  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">The Good Knight </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">home</a></li>
          <li><a href="/example">example</a></li>
          <li><a href="/signin">signin</a></li>

        </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      {{{body}}}
    </div>
  </main>

  <footer class="page-footer footer-container">
    <div class="container footer-container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">One Good Knight</h5>
          <p class="grey-text text-lighten-4">a text adventure game by This Is SPR-ta!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/origamiunicorn/this-is-spr-ta"
                target="_blank">GitHub
                Repo</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright footer-container">
      <div class="container">
        © 2020 Copyright
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>