<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
  </script>

  {{!-- What are these different minified jquerys for? Do we need all of them?--}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/styles/styles.css">

  <title>One Good Knight</title>

</head>

<body>

  <header>
    <nav>
      <div class="nav-wrapper">
        <div class="container">
          &nbsp;
          <a href="/" class="brand-logo flow-text">One Good Knight</a>
          {{!-- Right now our nav hides on mobile, and then we have no nav. We should see about having a mobile nav menu. Materialize has options, let's investigate! --}}
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            {{!-- Login should go to the sign in page, renamed login for clarity? Login could be a modal that pops up on selecting this link. --}}
            <li><a href="/example">Login</a></li>
            {{!-- Sign Up should go to a sign up page, or a sign up modal that pops up on selecting this link. --}}
            <li><a href="/signin">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container body-container">
      {{{body}}}
    </div>
  </main>

  <footer class="page-footer footer-container">
    <div class="container footer-container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">One Good Knight</h5>
          <p class="grey-text text-lighten-4">a text adventure game by This Is SPR-ta!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/origamiunicorn/this-is-spr-ta"
                target="_blank">GitHub
                Repo</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright footer-container">
      <div class="container">
        © 2020 Copyright
      </div>
    </div>
  </footer>

</body>

</html>