<div class="row">
  <div class="col s12">
    <h1 class="mobile-header center-align">404 Page Not Found</h1>
    <p>
      The page you're trying to find could not be found. It may in fact be attempting to return from the moon, and
      subsequently should be expected to appear... sometime. Like tomorrow. Wearing moonglasses and sipping mai tais.
    </p>
    <a href="/" class="valign-wrapper"><i class="small material-icons">arrow_back</i> Return to Home</a>
  </div>
</div>