<div class="row">
    <div class="col s12">

        {{#each data}}
        <div class="row"
            style="background-image: url(/images/ClanTigerSM3.png); background-repeat: no-repeat; background-position: left-center;">
            <div class="col s9 offset-s3">
                <div class="card" style="background: rgba(255, 255, 255, 0.7)">
                    <h5 class="card-title">{{dataValues.charName}}</h5>
                    <strong>Of the {{dataValues.clanName}} Clan</strong>
                    <p>
                        <strong><a href="story/{{ dataValues.lastStoryId }}"> Continue Game</a> </strong>
                    </p>
                </div>
            </div>
        </div>
        {{/each}}

        <a href="/">← Back To Home</a>
    </div>
</div>