<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-6">




        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>

       


        <h2>what's your name?</h2>



        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">First Name</label>
      </div>
      </form>

      <form class="col-6">
        <div class="row">
          <h3>Which clan do you claim?</h3>
          <form action="#">
            <p>
              <label>
                <input class="with-gap" id="rabbit" name="clan" type="radio" />
                <span>Rabbit</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap" id="tiger" name="clan" type="radio" />
                <span>Tiger</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap" id="monkey" name="clan" type="radio" />
                <span>Monkey</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap" id="raven" name="clan" type="radio" />
                <span>Raven</span>
              </label>
            </p>

        </div>
        <button id="submit" class="btn btn-primary float-right">Submit</button>


      </form>









    </div>
  </div>
</div>
<p class="mt-5 mb-3 text-muted">© 2020</p>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>