<div class="row">
  <div class="col s12">
    <p>
      One Good Knight is a text adventure game where you play the role of a knight in Princess Kaguya's service.
    </p>
    <p>
      On the eve before the New Year Moon Ceremony, the Princess discovers the Pearl of the Seas has been secreted
      away&mdash;and she's sending you to retrieve it.
    </p>
    <p>
      If this mission succeeds or fails depends entirely on the choices you make.
    </p>
    <p>
      Do you have what it takes to retrieve the Pearl?
    </p>
    <p class="center-align">
      <i class="material-icons">brightness_3</i>
    </p>
    <p>
      <strong>One Good Knight</strong> requires a login to play. Sign up and start your adventure now!
    </p>
  </div>
</div>