<div class="row">
    <div class="col s12">
        <h4 class="mobile-center">Welcome, {{name}}!</h4>
        <p>
            Select what you would like to do below. Are you going to continue a previous knight's adventure? Or are you
            going to start a new knight's story?
        </p>
    </div>
</div>

<div class="row">
    <div class="col s12 center-align">
        <a class="waves-effect waves-light btn mobile-buttons" href="/game"><i
                class="material-icons left">brightness_5</i>Continue
            Game</a>
        <a class="waves-effect waves-light btn mobile-buttons" href="/start"><i
                class="material-icons left">brightness_7</i>Start
            New Game</a>
    </div>
</div>