<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<div id="home">
    <div class="container">
        <form name="gamefrm">
            <div class="row">
                <div class="col-6">
                    <h3 class="center-align">Knight's Name</h3>
                    <input id="icon_prefix" type="text" name="charName" class="validate">
                    <label for="icon_prefix">Name Your Knight</label>
                </div>

                <div class="col-6">
                    <div class="row center-align">
                        <h3>Which clan are you from?</h3>
                        <p>
                            <p>
                                <img class="circle responsive-img" src="/images/ClanRabbit.png" alt="" />
                            </p>
                            <label>
                                <input class="with-gap" value="rabbit" name="clanName" type="radio" />
                                <span>Rabbit</span>
                            </label>
                        </p>
                        <p>
                            <p>
                                <img class="circle responsive-img" src="/images/ClanTiger.png" alt="" />
                            </p>
                            <label>
                                <input class="with-gap" value="tiger" name="clanName" type="radio" />
                                <span>Tiger</span>
                            </label>
                        </p>
                        <p>
                            <p>
                                <img class="circle responsive-img" src="/images/ClanMonkey.png" alt="" />
                            </p>
                            <label>
                                <input class="with-gap" value="monkey" name="clanName" type="radio" />
                                <span>Monkey</span>
                            </label>
                        </p>
                    </div>
                    <button id="saveGameBtn" type="submit" class="btn btn-primary float-right">Submit</button>

                </div>
        </form>
    </div>
</div>