<div class="container">
    <h5>Example Story Page</h5>

    <p>
        <strong>Story Body</strong>: {{body}}
    </p>
    <p>
        <strong>Choices</strong>:
    </p>

    {{#each Choices}}
    <p>
        <a href="/story/{{dataValues.routeId}}">{{dataValues.description}}</a>
    </p>
    {{/each}}
</div>