<div class="row">
    <div class="column col s12">
        <p class="parabody flow-text">
            {{body}}
        </p>

        <hr />

        {{#each Choices}}
        <p class="flow-text">
            <a href="/story/{{dataValues.routeId}}">{{dataValues.description}}</a>
        </p>
        {{/each}}
    </div>
</div>