body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 16px;
  /* background: 
  linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, black 25%, transparent 25%),
  linear-gradient(45deg, black 25%, transparent 25%);	
  background-size: 2em 2em; */
  background-image: url("/images/nami_@2X.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: #232323;
}

main {
  flex: 1 0 auto;
}

.list-group-item {
  line-height: 2.5;
}

a.brand-logo {
  text-decoration: none;
  padding-left: 10px;
}

.body-container {
  color: black;
  background-color: ghostwhite;
  padding: 15px;
}

p.parabody {
  margin-top: -20px;
  margin-bottom: -20px;
  white-space: pre-line;
}

form .error{
  color:red;
}

.story-row {
  margin-bottom: 0;
}

.story-divider {
  margin-top: 50px;
}

.gameheader {
  margin-bottom: -3px;
}

.gamerow {
  background-repeat: no-repeat; 
  background-position: left-top;
}

.gameoffset {
  margin-left: 65px;
  width: 90%;
}

@media (max-width: 640px){
body {
  font-size: 1.3rem;
}

.brand-logo {
  width: 80%;
  margin: 0 auto;
}

  #smalltext {
    font-size: 1.5rem;  
    padding: 0px;
  }

  .body-container {
    width: 100%;
  }

  .gameoffset {
    width: 80%;
  }

  .mobile-header {
    font-size: 1.3rem;
  }
};